<!DOCTYPE html>
<html lang="en">
{%  load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Hunt </title>
    {% include "partials/header.html" %}
    {% block css %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="col-sm-2">
            {% include "partials/navbar.html" %}
        </div>
        <div class="col-sm-8">
            {% include "partials/sidebar.html" %}
        </div>

    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% include "partials/footer.html" %}
    {% block js %}
    {% endblock %}
</body>

</html>